
.video-bg {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    left: 0;
    bottom: 0;
    filter: none;
    z-index: -1;
}

.navBar {
    background: transparent;
    height: 9vh;
    display: flex;
    /* justify-content: ; */
    z-index: 7;
    padding-left: 2.5vw;
    padding-top: 1rem;
    align-items: center;
    vertical-align: middle;
}

.name {
    display: inline-block;
    align-items: center;
    margin-top: .4%;
    text-decoration: none;
    padding-right: 0vw;
    height: 100%;
    cursor: pointer;
    font-size: 5.5vh;
    font-weight: bold;
    color: #372c61;
}

.searchBar {
    height: 40px;
    display: flex;
    width: 100%;
    max-width: 502px;
    padding-left: 10px;
    border-radius: 52px;
    /* margin-top: 1.6vh; */
    margin-left: 2vw;
    z-index: 8;
}

/* the following is descendants syntax where input is a descendant, but for children or child selector we use '>' */
.searchBar input { 
    width: 100%;
    height: 100%;
    border: none;
    background: -webkit-linear-gradient(45deg, rgb(0 0 0 / 21.4%) 25%, rgb(255 255 255 / 5.2%) 75%);
 /* box-shadow: h-offset v-offset blur spread color |inset|initial|inherit; */
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
    border-radius: 52px;
    font-size: 16px;
    font-weight: lighter;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(16px);
    padding-left: 25px;
    color: rgb(255 255 255 / 100%);
    text-transform: uppercase;
}

.searchBar input::placeholder {
    color: #fff;
    opacity: 0.61;
    text-transform: none;
}

.searchBar input:focus {
    outline: none;
}

.results {
    transition: all 1s ease-in;
    position: absolute;
    /* display: flex; */
    background: rgb(0 0 0 / 21.4%);
 /* box-shadow: h-offset v-offset blur spread color |inset|initial|inherit; */
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    z-index: 52;
    /* top: 0;
    left: 0; */
    max-width: 490px;
    width: 100%;
    border-radius: 16px;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    overflow: auto;
    align-items: center;
    justify-items: center;
    padding-bottom: 1.8vh;
    margin-top: 3.13em;
    margin-left: 0.43em;
}

.results ul {
    /* The following removes left-padding in unordered lists, please take a note! */
    padding: 0;
    list-style-type: none;
}

.results ul li {
    list-style-type: none;
    color: #fff;
    opacity: 1;
    line-height: 0.52em;
    padding-top: 2.5vh;
    cursor: pointer;
    margin-top: 2.56%;
    margin-left: 1.8em;
    margin-right: 1.8em;
    border-bottom: solid 0.7px rgb(255 255 255 / 12.4%);
    padding-bottom: 1%;
}

.results ul p {
    font-size: small;
    opacity: 0.61;
    line-height: 1em;
    padding-right: 1.8em;
}

.results ul li:hover {
    transition: all 0.16s ease-in;
    background-color: rgb(255 255 255 / 9.7%);
    border-radius: 10px;
    transform: scale(1.06);
    padding-left: 0.88em;
    padding-right: 0.88em;
    border-bottom: none;
}

.results ul hr {
    color: #fff;
    border: none;
}

.container {
    display: flex;
    flex-flow: row wrap;
    background-color: transparent;
    width: 94.7%;
    height: 88vh;
    margin-left: 2.5em;
    z-index: 1;
}

.container > *{
    flex: 1;
}

.graph {
    background-color: transparent;
    border: solid 1px transparent;
    height: 61%;
}

.profitCalc {
    background-color: transparent;
    border: solid 1px transparent;
    height: 61%;
}

.keyInfo {
    background-color: transparent;
    border: solid 1px transparent;
    height: 39%;
}

.news {
    background-color: transparent;
    border: solid 1px transparent;
    height: 39%;
}

.line-break {
    flex-basis: 100%;
    height: 0;
}

.stockIntro {
    background: rgb(0 0 0 / 21.4%);
 /* box-shadow: h-offset v-offset blur spread color |inset|initial|inherit; */
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 10%;
    width: 100%;
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    margin-top: 1%;
    flex-direction: row;
    display: flex;
}

.stockIntro h1 {
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    letter-spacing: 1.8px;
    align-self: center;
    padding-left: 1.8%;
}

.stockIntro small {
    color: #f3145b;
    text-align: center;
    align-self: center;
    font-size: 15px;
    /* text-shadow: 0px 0px 7.9px #2ff384; */
    text-shadow: 0px 0px 7.9px rgb(243, 70, 70);
    padding-left: 1%;
    margin-right: 1.8%;
}

.stockIntro p {
    font-size: small;
    font-style: normal;
    font-weight: normal;
    opacity: 0.61;
    color: #fff;
    align-self: center;
    letter-spacing: 1px;
    padding-left: 1%;
    padding-top: 0.28%;
}

.stockIntro h2 {
    color: #fff;
    opacity: 1;
    padding-left: 1.8%;
    font-weight: normal;
    font-size: 18px;
    align-self: center;
    letter-spacing: 1px;
    margin-left: auto;
}

.stockIntro div {
    background-color: rgb(21, 241, 131);
    display: flex;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 1px;
    margin-left: 1.8%;
    border-radius: 2.5px;
    align-self: center;
    align-content: center;
}

.stockIntro div article{
    color: #fff;
    align-self: center;
    vertical-align: middle;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: normal;
}

.stockGraph {
    background: rgb(0 0 0 / 25%);
 /* box-shadow: h-offset v-offset blur spread color |inset|initial|inherit; */
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 85%;
    width: 100%;
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    margin-top: 1%; 
    /*try the following once*/
    display: flexbox;
}

.TimeLines {
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: flex-end;
    padding-top: 7px;
}

.TimeLines button {
    display: flex;
    padding: 7px;
    border-radius: 7px;
    border-width: 1px;
    border-color: rgb(255 255 255 / 16%);
    margin: 10px;
    background-color: transparent;
    text-align: center;
    font-size: 9.7px;
    letter-spacing: 1px;
    color: rgb(255 255 255 / 70%);
    transition: all 0.25s ease-in-out;
}

.TimeLines p {
    text-align: center;
    margin-right: auto;
    margin-left: 1.8%;
    align-self: center;
    color: #fff;
    letter-spacing: 1.8px;
    font-size: 13.7px;
    font-weight: lighter;
    padding-bottom: 1%;
}

.TimeLines p span {
    color: #f3145b;
    text-shadow: 0px 0px 7px #f72568;
    font-weight: normal;
    align-self: center;
}

/**
This is where target comes in which only disables if another button is pressed not the surrounding environment 
https://stackoverflow.com/questions/31178653/how-to-keep-active-css-style-after-click-a-button */
.TimeLines button:focus {
    background-color: rgb(255 255 255 / 18%);
    color: rgb(255 255 255 / 88%);
    border-color: rgb(255 255 255 / 0%);
}

.graphWrapper {
    display: flex;
    width: 100%;
    height: 85%;
    padding-top: 0.52%;
    margin: auto;
}

@media all and (min-width: 900px) {
    .graph          {flex: 2 0px;}
    .profitCalc     {flex: 1 0px;}
    .news           {flex: 1.3 0px;}
    .keyInfo        {flex: 1 0px;}

    .graph          {order: 1;}
    .profitCalc     {order: 2;}
    .line-break     {order: 3;}
    .keyInfo        {order: 4;}
    .news           {order: 5;}
}

.keyInfoBox {
    background: transparent;
/*  box-shadow: h-offset v-offset blur spread color |inset|initial|inherit; */
    /* box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
    height: 93.1%;
    width: 100%;
    /* -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px); */
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}

.keyInfoBox p {
    color: #fff;
    opacity: 1;
    line-height: 0em;
    letter-spacing: 1.8px;
    font-weight: lighter;
    font-size: 18px;
    flex-direction: row;
    margin-top: 3.31%;
}


.innerInfoBox {
    display: flex;
    flex-flow: row wrap;
    border-top-color: rgb(255 255 255 / 10%);
    /* border-top-style: solid; */
    border-top-width: 1px;
    height: 100%;
    border-radius: 10px;
    padding: 0%;
}


.innerInfoBox > div {
    flex: 42.1%;
    height: 47.2%;
    border-radius: 7px;
    background: rgb(0 0 0 / 21.4%);
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
}

.innerInfoBox div p {
    font-size: small;
    opacity: 0.61;
    margin-left: 5.2%;
    margin-top: 7%;
}

.innerInfoBox div h1 {
    font-size: 35.5px;
    margin-left: 5.2%;
    margin-top: 1.8%;
    font-weight: lighter;
    letter-spacing: 5.2px;
    color: #fff;
}

.newsContainer {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.newsContainer > div {
    display: flex;
    flex: 100%;
    flex-direction: column;
    /* background-color: crimson; */
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1.25%;
    border-radius: 10px;
    background-color: rgb(0 0 0 / 25%);
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Direct child of newsContainer is the first div so target that below */
.newsContainer > div img { 
    height: 115px;
    width: 282px;
    justify-self: center;
    display: flex;
    border-radius: 10px;
    background-color: rgb(255 255 255 / 8.8%);
    opacity: 0.81;
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 0%;
}

.newsContainer section div {
    display: flex;
    flex-direction: row;
    height: 47.2%;
    flex: 100%;
    /* background-color: crimson; */
    border-radius: 10px;
    background-color: rgb(0 0 0 / 30%);
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.newsContainer section > div img {
    height: 95px;
    width: 187px;
    display: flex;
    margin: 1.5%;
    justify-self: center;
    border-radius: 10px;
    background-color: rgb(255 255 255 / 8.8%);
    opacity: 0.88;
} 

.newsContainer div p {
    color: #fff;
    font-size: 16px;
    font-weight: 355;
    line-height: 1.33em;
    letter-spacing: 1px;
    padding-bottom: 0%;
    margin-bottom: 0%;
    margin-right: 2.5%;
    margin-top: 2%;
    opacity: 1;
}

.newsContainer div article {
    margin-top: 1%;
    margin-right: 0%;
    color: #fff;
    opacity: 0.61;
    font-weight: lighter;
    font-size: 12.4px;
    letter-spacing: 1px;
}

.newsContainer section > div > section {
    flex-direction: column;
    margin-left: 1%;
    margin-right: 2.5%;
}

.newsContainer a* {
    text-decoration: none;
}

.profitContainer {
    display: flex;
    width: 97.5%;
    height: 97.4%;
    background: rgb(0 0 0 / 25%);
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 1.6%;
    margin-left: 2.5%;
    justify-content: flex-start; /*justifies horizontally*/
    flex-direction: column;
}

.profitContainer h1 {
    margin-top: 2.5%;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 5.2px;
    font-style: normal;
    color: #fff;
    opacity: 0.81;
    padding-left: 2.5%;
    margin-bottom: 1.8%;
}

.profitContainer ul {
    padding: 0;
    list-style-type: none;
    margin-top: .5%;
    width: 100%;
    margin-left: 0;
    justify-content: flex-start;
    align-self: flex-start;
}

.profitContainer ul li {
    display: flex;
    color: #fff;
    list-style-type: none;
    line-height: 0.52em;
    width: 100%;
    align-items: baseline;
    /* border-top: solid 0.7px rgb(255 255 255 / 16%); */
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}

.profitContainer ul hr {
    border: none;
    background: #fff;
    height: .1%;
    opacity: 0.18;
    justify-self: center;
    width: 100%;
}

.profitContainer ul li > hr {
    border: none;
    background: #fff;
    height: .1%;
    opacity: 0.18;
    justify-self: center;
    width: 100%;
}

.profitContainer ul li h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    letter-spacing: 1.8px;
    align-self: center;
    margin-left: 2.56%;
}

.profitContainer ul li p {
    font-size: small;
    font-style: normal;
    font-weight: normal;
    opacity: 0.61;
    color: #fff;
    align-self: center;
    letter-spacing: 1px;
    margin-left: 1.8%;
    padding-top: 0.28%;
}

.profitContainer ul li div {
    background-color: rgb(21, 241, 131);
    display: flex;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 1.8%;
    margin-right: 2.5%;
    border-radius: 2.5px;
    align-self: center;
    align-content: center;
}

.profitContainer ul li h3 {
    font-size: 16px;
    font-style: normal;
    align-self: center;
    font-weight: normal;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: 1%;
}

.profitContainer ul li div article {
    color: #fff;
    align-self: center;
    vertical-align: middle;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: normal;
}